#about{
#one{
    width: 100px;
    height: 100px;
    background-image: url(b2.png);
    background-position: top ;
    background-size: cover;
}

#two{
    width: 100px;
    height: 100px;
    background-image: url(b3.png);
    background-position: top ;
    background-size: cover;

}

h1{
    color: rgb(59, 54, 46);  
}

h3{
    color: rgb(41, 24, 2);
}

li{
    color: rgb(55, 35, 35);
}
}